<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Sakura CE285A</title>
  <meta name="description" content="Продажа картриджа Sakura">
  <meta name="author" content="tunder">

  <meta property="og:title" content="CE285A">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.CE285A.ru/">
  <meta property="og:description" content="Продаем картриджи Sakura CE285A">
  <!-- <meta property="og:image" content="image.png"> -->

  <!-- <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    </style>
</head>

<body>
  <div class="wrapper">
    <!-- block for title and menu  -->
    <div class="block">

      <div class="left-block-red">

        <div class="logo">
          <!-- TODO fix path later  -->
          <a href="https://wiz.ru/"> <img src="static/wiz-logo-white.svg" class="img-fluid" style="width: 90%;" ></a></div>
        <div class="title-text">
          <h1>Продаем картриджи Sakura CE285A</h1>
          <p>Бесплатная доставка при заказе  от двух штук и более</p>
        </div>
        <div class="title-buttonarea">
          <input type="button" class="button" value="КУПИТЬ" onClick="document.getElementById('form').scrollIntoView();" />
          
          <p class="price">590 рублей</p>
        </div> 
        
      </div>
    
      <div class="right-block-white">

        <ul class="navigation">
          <li><a href="#compat">совместимость</a></li>
          <li><a href="#chara">характеристики</a></li>
          <li><a class="link-button" href="#form" >оформить заказ</a></li>
        </ul>

        <div class="img-container"> 
          <img  src="static/cartridge.png" alt="cart">
        </div>

      </div>
    </div>


    <!-- end block for title and menu -->



    <div class="block mobile-margin" id="compat">
      <div class="left-block-white">
        <div class="comp-text">
          <h1 style="color: black;">Совместимо с вашим принтером</h1>
          <p class="desc-text">Универсальный картридж относится к сегменту «А» или «Премиум», что позволяет добиться такого же качества печати и количества копий, как и у оригинального продукта. Лазерные картриджи Sakura Printing созданы для безупречной работы с вашим принтером или МФУ HP и Canon. Вы можете рассчитывать на профессиональное качество комплектующих и тонера от мировых брендов из Японии, Кореи, Индии и т.д. Обеспечивают стабильное качество печати, а также экономят вашу бумагу, время и средства. </p>
        </div>
      </div>
    <div class="right-block-red">
    <div class="comp-block-helper">
          <h2>Используется для моделей:</h2>
          <div class="container">
            <ul>
              <li>HP LaserJet Pro / LJP-M1210 ser</li>
              <li>HP LaserJet Pro / LJP-M1212</li>
              <li>HP LaserJet Pro / LJP-M1213</li>
              <li>HP LaserJet Pro / LJP-M1214</li>
              <li>HP LaserJet Pro / LJP-M1216</li>
              <li>HP LaserJet Pro / LJP-M1217</li>
              <li>HP LaserJet Pro / LJP-P1100 ser</li>
              <li>HP LaserJet Pro / LJP-P1101</li>
              <li>HP LaserJet Pro / LJP-P1102</li>
            </ul>
              <ul>
              <li>HP LaserJet Pro / LJP-P1103</li>
              <li>HP LaserJet Pro / LJP-P1104</li>
              <li>HP LaserJet Pro / LJP-P1106</li>
              <li>HP LaserJet Pro / LJP-P1108</li>
              <li>HP LaserJet Pro / LJP-P1109</li>
              <li>HP LaserJet Pro / LJP-M1130 ser</li>
              <li>HP LaserJet Pro / LJP-M1132</li>
              <li>HP LaserJet Pro / LJP-M1136</li>
              <li>HP LaserJet Pro / LJP-M1137</li>
            </ul>
            <ul>
              <li>HP, Canon P1505N </li>
              <li>HP, Canon M1522F</li>
              <li>HP, Canon M1522N</li>
              <li>HP, Canon M1120N</li>
              <li>HP, Canon M1120</li>
              <li>HP, Canon P1522</li>
              <li>HP, Canon P1505</li>
              <li>HP, Canon P1500</li>
              <li>HP, Canon P1006</li>
              <li>HP, Canon P1005</li>
              <li>HP, Canon P1102</li>
              <li>Canon LBP6000/6018/
                6020/6030/MF3010</li>
              <li>Bulat HB 10.4</li>
              <li>Mitsubishi 1915/1916</li> 
              <li>IMEX CMG3 </li>
              <li>HP P1005/P1505 (SC)</li>
            </ul>
          </div>
          
      </div>
      </div>
    </div>
  
<!-- end of block -->

<div class="block mobile-margin" style="margin-bottom: 0px;" id="chara">
  <div class="block-chara left-block-red">
    <div class="comp-text" style="color: #F2F3F4; margin-top: 30px; ">
      <h1  class="h1-chara-mobile" style="margin-top: 9vh;">Характеристики</h1>
      <div class="chara">
        <div><p>Цвет:<br>
          черный</p></div>
        
        <div>  
          Ресурс:<br>
          2 000</div>
          
        <div>Тип:<br>
          картридж</div>
        
        <div>Модель оригинального картриджа:<br>
          HP 85A, HP 35A, HP 36A, Canon 725</div>  
        
        <div> Вид:<br>
          лазерный</div>
          
        <div>Производитель:<br>
          Sakura Printing </div>

        <div>Гарантия:<br>
          1 год </div>

        <div>Вес:<br>
          0.498</div>
          
        <div>Объем:<br>
          0.003819</div>

        <div>Количество в упаковке:<br>
          1 </div>

        <div>Артикул:<br>
          SACE285A/CB435A/436A/725</div>  

        <div>Штрих код:<br>
          4660016203909</div>
     </div>
    </div>

  </div>

</div>

<!-- end of block -->

<div class="form" id="form">
     <h1 style="color: black; margin-left: 20px;">Оформить заказ</h1>
     <p class="desc-text form-text-mobile">Заполните простую форму, и наши менеджеры свяжутся с вами</p>

     {% for cat, msg in get_flashed_messages(True) %}
     <div class="flash {{cat}}"> {{msg}} </div>
     {% endfor %}
     <form action="/#form" method="post" class="form-contact">
      {{ form.hidden_tag() }}
    
      {% for field in form if field.name not in ['csrf_token', 'submit'] %}
      <p>{{ field.label() }}</p>
      {% if field.errors %}
        {{ field(class="invalid") }}
      <div class="invalid-feedback">
        {% for e in field.errors %}
        {{ e }}
        {% endfor %}
      </div>
      {% else %}
        {{ field() }}
      {% endif %}
    {% endfor %}  
    <div class="button-wrapper">
      <p> {{ form.submit() }}</p>
      <p><img src="static/star.png" class="star"> </p><p>- обязательное поле</p>
    </div>
    </form>
     
</div>

</div>

<div class ="footer">
  <p class="footer-text"> <a href="https://wiz.ru/"> wiz.ru </a> &copy; 2021, г. Иркутск </p>
  <p class="footer-text">
    <a href="https://wiz.ru/oplata-i-dostavka/">Оплата и доставка</a>  
    <a href="https://wiz.ru/publichnaya-oferta/">Публичная оферта</a>
    <a href="https://wiz.ru/price/">Прайс</a>
    <a href="https://wiz.ru/about/">О компании</a></p>
</div>

</div>
  <script src="scripts.js"></script>

</body>
</html>