
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flash {
    font-size: medium;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }
  
  .flash.success {
    color: #270;
    background-color: #DFF2BF;
  }
  
  .flash.error {
    color: #9F6000;
    background-color: #FEEFB3;
  }

input[type=text], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #C72125;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }